* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html {
    overflow-x: hidden;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004e92+0,000428+100 */
    background: #004e92; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #004e92 0%, #000428 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #004e92 0%,#000428 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #004e92 0%,#000428 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e92', endColorstr='#000428',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
}

body > #center-horizontal-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding-top: 8em;
    padding-bottom: 4em;
}

body > #center-horizontal-container > #section-1-splash {
    display: flex;
    flex-direction: column;
    padding: 3em 5em;
}

.fade-in-down-on-load {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fade-in-up-on-load {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.after-short-delay {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.after-longer-delay {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

body > #center-horizontal-container > #section-1-splash > #logo {
    display: flex;
    flex-direction: row;
    padding: 1em 0px;
}

body > #center-horizontal-container > #section-1-splash > #credits {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
}

body > #center-horizontal-container > #section-1-splash > #credits > p:first-child {
    margin-right: 0.5em;
}

body > #center-horizontal-container > #section-1-splash > #subtitle {
    margin-top: 3em;
}

body > #center-horizontal-container > #section-2-features {
    animation-timing-function: ease-out;
}

body > #center-horizontal-container > #section-2-features > .feature {
    border-radius: 2em;
    background: white;
    color: black;
    padding: 5em;
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2em, 0);
    transform: translate3d(0, -2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2em, 0);
    transform: translate3d(0, -2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2em, 0);
    transform: translate3d(0, 2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2em, 0);
    transform: translate3d(0, 2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}