@font-face {
    font-family: "Overpass";
    src: url("./fonts/overpass/Overpass_Regular.ttf");
}

@font-face {
    font-family: "SourceCodePro";
    src: url("./fonts/source-code-pro/SourceCodePro-Regular.otf");
}
* {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
    min-height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: "Overpass";
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004e92+0,000428+100 */
    background: #004e92; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #004e92 0%, #000428 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #004e92 0%,#000428 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #004e92 0%,#000428 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e92', endColorstr='#000428',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
}

body > #center-horizontal-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

body > #center-horizontal-container > header {
    min-height: 64px;
    margin-bottom: 8em;
}

body > #center-horizontal-container > header > nav > ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body > #center-horizontal-container > header > nav > ul > li {
    padding: 0px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
}

body > #center-horizontal-container > header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

body > #center-horizontal-container > header > nav > ul > li:hover:after, body > #center-horizontal-container > header > nav > ul > li.active:after {
    content: "";
    background: transparent;
    width: 100%;
    position: absolute;
    border-bottom: 2px dashed rgba(230, 230, 230, 10);
    bottom: -5px;
    right: 0;
}

body > #center-horizontal-container > header > nav > ul > li:hover {
    cursor: pointer;
}

body > #center-horizontal-container > #section-1-splash {
    display: flex;
    flex-direction: column;
    padding: 0em 5em;
    margin-bottom: 5em;
}

.fade-in-down-on-load {
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fade-in-up-on-load {
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fade-in-on-load {
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.after-short-delay {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.after-longer-delay {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.after-long-delay-1 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.after-long-delay-2 {
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.after-long-delay-3 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.after-long-delay-4 {
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
    animation-delay: 0.55s;
}

.after-long-delay-5 {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

body > #center-horizontal-container > #section-1-splash > #logo {
    display: flex;
    flex-direction: row;
    padding: 1em 0px;
}

body > #center-horizontal-container > #section-1-splash > #credits {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
}

body > #center-horizontal-container > #section-1-splash > #credits > p:first-child {
    margin-right: 0.5em;
}

body > #center-horizontal-container > #section-1-splash > #subtitle {
    margin-top: 3em;
}

body > #center-horizontal-container > #section-2-features > .feature {
    border-radius: 2em;
    background: white;
    color: black;
    padding: 4em;
    line-height: 1.75;
    position: relative;
    margin-bottom: 4em;
}

body > #center-horizontal-container > #section-2-features > .feature:before {
    content: "";
    border-radius: 2em;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,0.75);
}

body > #center-horizontal-container > #section-2-features > .feature > h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

body > #center-horizontal-container > #section-2-features > .feature > ul {
    padding-left: 2em;
}

body > #center-horizontal-container > #section-2-features > .feature#introduction {
    margin-bottom: 400px;
}

body > #center-horizontal-container > #section-2-features > .feature#introduction > .standout > * {
    position: absolute;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
}

body > #center-horizontal-container > #section-2-features > .feature#introduction > .standout > #calculator {
    border-radius: 15px;
    right: -50px;
    bottom: -50px;
}

body > #center-horizontal-container > #section-2-features > .feature#introduction > .standout > #screenshot {
    right: 75px;
    bottom: -350px;
    width: 50%;
    height: auto;
}

body > #center-horizontal-container > #section-2-features > .feature#introduction > .standout > #linux_screenshot {
    border-radius: 3px;
    right: -100px;
    bottom: -600px;
    width: 60%;
    z-index: 1;
    height: auto;
}

.ct {
    background: #efefef;
    color: black;
    border-radius: 5px;
    padding: 0px 5px;
    font-family: "SourceCodePro", monospace;
    font-size: 0.75em;
}

.ct.padded-wide {
    padding: 5px 15px;
}

.ct .cl {
    min-height: 0.75em;
    display: flex;
    flex-direction: row;
}

.ct .cl .tab {
    width: 2em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2em, 0);
    transform: translate3d(0, -2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2em, 0);
    transform: translate3d(0, -2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2em, 0);
    transform: translate3d(0, 2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2em, 0);
    transform: translate3d(0, 2em, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}